* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card-img {
  transition: transform 0.3s ease-in-out;
  border-top: 4px solid #ff2625;
}

.card:hover {
  transform: scale(1.1);
}

.card-img:hover {
  transform: scale(1.05);
}

.nav-link {
  text-decoration: none;
  text-underline-offset: 0px;
  text-decoration-color: white;
  color: black;
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #ff2625;
}

.nav-link-active {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: #ff2625;
  color: black;
}
